.mainCarousel{
    width: 100%;
    max-height: calc(100vh - 5rem);
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    .dots{
        width: 76px;
        height: .75rem;
        padding: 0 .25rem;
        display: flex;
        justify-content: space-around;
        gap: .25rem;
        position: absolute;
        bottom: 1.125rem;
        left: calc(50dvw - 38px);
        .dot{
            height: 100%;
            aspect-ratio: 1;
            border: 2px solid rgb(255, 255, 255, 0.25);
            background-color: rgba(255, 255, 255, 0.7);
            transition: background-color .5s ease;
            cursor: pointer;
        }
        .activeDot{
            background-color: #b81626;
        }
    }
    .carousel{
        width: 100%;
        height: 100%;
        display: flex;
        .slide{
            min-width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            overflow: hidden;
            .slideImg{
                height: 100%;
                aspect-ratio: 16/9;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
            }
            .slideMask{
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0,0,0,0.1) 33%, rgba(184,22,38,0.1) 50%, rgba(184,22,38,0.6) 80%, rgba(0,0,0,0.85) 92%, rgba(0,0,0,1) 100%);
                position: absolute;
            }
            .slideData{
                width: calc(100dvw - 4rem);
                margin: 3rem 2rem;
                display: grid;
                grid-template-rows: 2.2rem auto;
                gap: .66rem;
                position: absolute;
                bottom: 0;
                .slideTitle{
                    font-size: 2rem;
                    opacity: 0;
                    color: #fff;
                }
                .slideSubtitle{
                    font-size: 1.2rem;
                    opacity: 0;
                    color: #fff;
                }
                .slideButton{
                    opacity: 0;
                    button{
                        margin-top: unset;
                    }
                }
            }
        }
        .activeSlide{
            .slideData{
                .slideTitle{
                    animation: fade-in 1s forwards;
                    animation-delay: .33s;
                }
                .slideSubtitle{
                    animation: fade-in 1s forwards;
                    animation-delay: .66s;
                }
                .slideButton{
                    animation: fade-in 1s forwards;
                    animation-delay: 1s;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .mainCarousel{
        .dots{
            width: 100px;
            height: 1rem;
            bottom: 2rem;
        }
        .carousel{
            .slide{
                .slideData{
                    width: calc(100dvw - 8rem);
                    margin: 5rem 4rem;
                    grid-template-rows: 3rem auto;
                    .slideTitle{
                        font-size: 2.3rem;
                    }
                    .slideSubtitle{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .mainCarousel{
        opacity: 1;
        .carousel{
            .slide{
                .slideImg{
                    width: 100dvw;
                    min-height: 100%;
                    aspect-ratio: 16/10;
                }
            }
        }
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}