.section_header{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .section_title{
        text-align: center;
        font-size: 2rem;
        font-family: massilia, sans-serif;
        font-weight: 900;   
    }
    .section_subtitle{
        text-align: justify;
    }
}

.partners_types{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .partners_description{
        display: grid;
        gap: 1rem;
        justify-items: center;
        .section_subtitle{
            font-size: 1.5rem;
            font-family: massilia, sans-serif;
            font-weight: 900;       
        }
        .section_text{
            text-align: justify;
        }
    }
    .types{
        .types_layout{
            border: 1px solid #1d1d1b;
            display: grid;
            .type_cont{
                .title_container{
                    height: 3rem;
                    padding: 0 1rem;
                    border: 1px solid #1d1d1b;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #b81626;
                    color: #fff;
                    cursor: pointer;
                    .type_title{
                        font-size: 1.2rem;
                        font-family: massilia, sans-serif;
                        font-weight: 900;
                    }
                    .partner_selector{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        .icon_container{
                            min-height: 100%;
                            display: grid;
                            place-content: center;
                            transition: transform .5s ease;
                            svg{
                                font-size: 1.5rem;
                            }
                        }
                        .bounce_icon{
                            transform: translateY(-100%);
                        }
                    }
                }
                .description_container{
                    max-height: 0;
                    overflow: scroll;
                    transition: max-height .5s ease;
                    .description{
                        padding: 1rem;
                        text-align: justify;                   
                    }
                }
                .open_description_cont{
                    max-height: 200px;
                    border: 1px solid #1d1d1b;

                }
            }
        }
    }
}

.benefits{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #b81626;
    color: #fff;
    .benefits_description{
        display: grid;
        gap: 1rem;
        justify-items: center;
        .section_subtitle{
            font-size: 1.5rem;
            font-family: massilia, sans-serif;
            font-weight: 900;       
        }
        .section_text{
            text-align: justify;
        }
    }
    .benefits_layout{
        display: grid;
        gap: 2rem;
        .benefit{
            display: flex;
            gap: 2rem;
            align-items: center;
            &:nth-child(2), &:nth-child(4){
                flex-direction: row-reverse;
                .benefit_img{
                    .img{
                        left: 20%;
                        right: unset;
                    }
                }
            }
            .benefit_img{
                height: 100px;
                aspect-ratio: 1;
                position: relative;
                .benefit_background{
                    width: 80px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    position: absolute;
                    left: 10%;
                    bottom: 0;
                    background-color: #fff;
                }
                .img{
                    height: 70px;
                    position: absolute;
                    right: 20%;
                    bottom: 15px;
                }
            }
            .benefit_text{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                .benefit_title{
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    text-transform: uppercase;
                }
                .benefit_desc{
                    font-size: .9rem;
                }
            }
        }
    }
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .contact_action{
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
        background-color: rgba(255, 255, 255, 0.75);
        .section_subtitle{
            text-align: center;
            font-size: 1.66rem;
            font-family: massilia, sans-serif;
            font-weight: 900;       
        }
        .form_container{
            min-width: 100%;
            transition: transform .5s ease;
            .form{
              display: grid;
              gap: 1rem;
              .form_label{
                display: flex;
                flex-direction: column-reverse;
                gap: .2rem;
                font-size: .8rem;
                color: #b81626;
                .form_input{
                  height: 2rem;
                  border: none;
                  border-bottom: 1px solid #b81626;
                  transition: border-bottom .25s ease;
                  font-size: 1rem;
                  background-color: transparent;
                  &:focus{
                      outline: none;
                      border-bottom: 1px solid #1d1d1b ;
                  }
                }
                .form_select{
                    height: 2rem;
                    border: none;
                    border-bottom: 1px solid #fff;
                    transition: border-bottom .25s ease;
                    font-size: 1rem;
                    background-color: transparent;
                    color: #fff;
                    &:focus{
                        outline: none;
                        border-bottom: 1px solid #1d1d1b ;
                    }
                  }
                }
                .form_textarea{
                  height: 25dvh;
                  padding: .5rem;
                  border: 1px solid #b81626;
                  font-size: 1.25rem;
                  background-color: transparent;
                  color: #fff;
                  resize: none;
                  &:focus{
                      outline: none;
                  }
                }
              }
              .submit_form{
                height: 2rem;
                width: 5rem;
                margin-top: 1rem;
                padding: 0 .5rem;
                border: none;
                justify-self: center;
                text-transform: uppercase;
                font-weight: 800;
                transition: background-color .25s ease, color .25s ease;
                background-color: #fff;
                color: #b81626;
                cursor: pointer;
                &:hover{
                    background-color: #1b1d1d;
                    color: #fff;
                }
              }
            }
          }
        .move_slide{
          transform: translateX(-100%);
        }
    }

@media screen and (min-width: 425px) {
    .contact{
        .contact_action{
            padding: 2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .section_header, .partners_types, .benefits{
        padding: 2rem 4rem;
    }

    .section_header{
        padding-bottom: 0;
        .section_title{
            text-align: unset;
            font-size: 2.6rem;
        }
        .section_subtitle{
            font-size: 1.2rem;
        }
    }

    .partners_types{
        .partners_description{
            justify-items: initial;
            .section_subtitle{
                font-size: 1.66rem;
            }
            .section_text{
                font-size: 1.2rem;
            }
        }
        .types{
            .types_layout{
                .type_cont{
                    .title_container{
                        height: 4rem;
                        .type_title{
                            font-size: 1.66rem;
                        }
                    }
                    .description_container{
                        .description{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .benefits{
        align-items: center;
        .benefits_description{
            .section_subtitle{
                font-size: 1.66rem;
            }
            .section_text{
                font-size: 1.2rem;
            }
        }
        .benefits_layout{
            grid-template-columns: 1fr 1fr;
            .benefit{
                padding: 1rem;
                flex-direction: column;
                &:nth-child(2), &:nth-child(4){
                    flex-direction: column;
                    .benefit_img{
                        .img{
                            left: calc(50% - 5dvw);
                            right: unset;
                            bottom: -5px;
                        }
                    }
                }
                .benefit_img{
                    height: 15dvw;
                    .benefit_background{
                        width: 100%;
                        left: 0;
                        bottom: -10%;
                    }
                    .img{
                        width: unset;
                        height: 10dvw;
                        aspect-ratio: 1;
                        left: calc(50% - 5dvw);
                        right: unset;
                        bottom: -5px;
                    }
                }
                .benefit_text{
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }

    .contact{
        .contact_action{
            padding: 4rem;
            gap: 2rem;
            .form_container{
                .form{
                    grid-template-columns: 1fr 1fr;
                    .form_label{
                        &:nth-last-child(2), .submit_form{
                            grid-column: 1 / 3;
                        }
                    }
                    .submit_form{
                        grid-column: 1 / 3;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_header, .partners_types, .benefits{
        padding: 3rem 8rem;
    }

    .section_header{
        .section_subtitle{
            font-size: 1.3rem;
        }
    }

    .partners_types{
        .partners_description{
            .section_text{
                font-size: 1.3rem;
            }
        }
        .types{
            .types_layout{
                .type_cont{
                    .description_container{
                        overflow: hidden;
                    }
                }
            }
        }
    }
    
    .benefits{
        .benefits_description{
            .section_text{
                font-size: 1.3rem;
            }
        }
        .benefits_layout{
            .benefit{
                .benefit_text{
                    .benefit_title{
                        font-size: 1.3rem;
                    }
                    .benefit_desc{
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }

    .contact{
        padding: 3rem 8rem;
        .contact_action{
            padding: 0;
            .form_container{
                width: 100%;
                display: flex;
                justify-content: center;
                .form{
                    max-width: 800px;
                    padding: 2rem;
                    grid-template-columns: repeat(6, 1fr);
                    align-self: center;
                    background: linear-gradient(to right, #b81626, #800915, #620912);
                    background-size: 200% 200%;
                    animation: gradientAnimation 5s linear infinite;                
                    .form_label{
                        color: #fff;
                        .form_input{
                            border-color: #fff;
                            color: #fff;
                        }
                        .form_textarea{
                            border-color: #fff;
                        }
                        &:nth-child(1){
                            grid-column: 1 / 4;
                        }
                        &:nth-child(2){
                            grid-column: 4 / 7;
                        }
                        &:nth-child(3), &:nth-child(6){
                            grid-column: 1 / 3;
                        }
                        &:nth-child(4), &:nth-child(7){
                            grid-column: 3 / 5;
                        }
                        &:nth-child(5), &:nth-child(8){
                            grid-column: 5 / 7;
                        }
                        &:nth-child(9){
                            grid-column: 1 / 4;
                        }
                        &:nth-child(10){
                            grid-column: 4 / 7;
                        }
                        &:nth-last-child(2){
                            grid-column: 1 / 7;
                        }
                    }
                    .submit_form{
                        grid-column: 1 / 7;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .benefits{
        .benefits_layout{
            grid-template-columns: repeat(4, 1fr);
            .benefit{
                padding: 0;
            }
        }
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }