.section_header{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    &:nth-child(1){
        text-align: center;
    }
    .section_subtitle{
        opacity: 0;
        transition: opacity .5s ease;
        transition-delay: .5s;
        p{
            text-align: justify;
        }
    }
    .active_subtitle{
        opacity: 1;
    }
}
.partners_types{
    margin-top: -2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 0;
    transition: opacity .5s ease;
    transition-delay: .75s;
    .partners_description{
        display: grid;
        gap: 1rem;
        justify-items: center;
        .section_subtitle{
            font-size: 1.5rem;
            font-family: massilia, sans-serif;
            font-weight: 900;       
        }
        .section_text{
            text-align: justify;
        }
    }
    .types{
        .types_layout{
            border: 1px solid #1d1d1b;
            display: grid;
            .type_cont{
                .title_container{
                    height: 3rem;
                    padding: 0 1rem;
                    border: 1px solid #1d1d1b;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #b81626;
                    color: #fff;
                    cursor: pointer;
                    .type_title{
                        font-size: 1.2rem;
                        font-family: massilia, sans-serif;
                        font-weight: 900;
                    }
                    .partner_selector{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        .icon_container{
                            min-height: 100%;
                            display: grid;
                            place-content: center;
                            transition: transform .5s ease;
                            svg{
                                font-size: 1.5rem;
                            }
                        }
                        .bounce_icon{
                            transform: translateY(-100%);
                        }
                    }
                }
                .description_container{
                    max-height: 0;
                    overflow: scroll;
                    transition: max-height .5s ease;
                    .description{
                        padding: 1rem;
                        text-align: justify;                   
                    }
                }
                .open_description_cont{
                    max-height: 200px;
                    border: 1px solid #1d1d1b;

                }
            }
        }
    }
}
.benefits{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: linear-gradient(75deg, #000, #2c2a2a, #261b1b);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
    color: #fff;
    .benefits_description{
        display: grid;
        gap: 1rem;
        justify-items: center;
        opacity: 0;
        transition: opacity .5s ease;
        transition-delay: .5s;
        .section_subtitle{
            font-size: 1.5rem;
            font-family: massilia, sans-serif;
            font-weight: 900;       
        }
        .section_text{
            text-align: justify;
        }
    }
    .benefits_layout{
        display: grid;
        gap: 2rem;
        opacity: 0;
        transition: opacity .5s ease;
        transition-delay: .75s;
        .benefit{
            display: flex;
            gap: 2rem;
            align-items: center;
            &:nth-child(2), &:nth-child(4){
                flex-direction: row-reverse;
                .benefit_img{
                    .img{
                        left: 20%;
                        right: unset;
                    }
                }
            }
            .benefit_img{
                height: 100px;
                aspect-ratio: 1;
                position: relative;
                .benefit_background{
                    width: 80px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    position: absolute;
                    left: 10%;
                    bottom: 0;
                    background-color: #fff;
                }
                .img{
                    height: 70px;
                    position: absolute;
                    right: 20%;
                    bottom: 15px;
                }
            }
            .benefit_text{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                .benefit_title{
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    text-transform: uppercase;
                }
                .benefit_desc{
                    font-size: .9rem;
                }
            }
        }
    }
    .active_section{
        opacity: 1;
    }
}
.contact{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, #b81626, #800915, #620912);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
    .contact_action{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
        opacity: 0;
        transition: opacity .5s ease;
        transition-delay: .75s;    
        .section_subtitle{
            text-align: center;
            font-size: 1.66rem;
            font-family: massilia, sans-serif;
            font-weight: 900;
            color: #fff;
        }
        .form_container{
            min-width: 100%;
            transition: transform .5s ease;
            .form{
                display: grid;
                gap: 1rem;
                padding: 1rem;
                .form_label{
                    display: flex;
                    flex-direction: column-reverse;
                    gap: .2rem;
                    font-size: .8rem;
                    color: #fff;
                    .form_input{
                    height: 2rem;
                    border: none;
                    border-bottom: 1px solid #fff;
                    transition: border-bottom .25s ease;
                    font-size: 1rem;
                    background-color: transparent;
                    &:focus{
                        outline: none;
                        border-bottom: 1px solid #1d1d1b ;
                    }
                    }
                    .form_select{
                        height: 2rem;
                        border: none;
                        border-bottom: 1px solid #fff;
                        transition: border-bottom .25s ease;
                        font-size: 1rem;
                        background-color: transparent;
                        color: #fff;
                        &:focus{
                            outline: none;
                            border-bottom: 1px solid #1d1d1b ;
                        }
                    }
                }
                .form_textarea{
                  height: 25dvh;
                  padding: .5rem;
                  border: 1px solid #fff;
                  font-size: 1.25rem;
                  background-color: transparent;
                  color: #fff;
                  resize: none;
                  &:focus{
                      outline: none;
                  }
                }
              }
              .submit_container{
                display: flex;
                justify-content: center;
              }
            }
    }
    .move_slide{
      transform: translateX(-100%);
    }
    .active_section{
        opacity: 1;
    }
}

.active_section{
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .section_header, .partners_types, .benefits{
        padding: 2rem 4rem;
    }

    .section_header{
        align-items: initial;
        &:nth-child(1){
            text-align: initial;
        }
        .section_subtitle{
            font-size: 1.2rem;
        }
    }

    .partners_types{
        .partners_description{
            justify-items: initial;
            .section_subtitle{
                font-size: 1.66rem;
            }
            .section_text{
                font-size: 1.2rem;
            }
        }
        .types{
            .types_layout{
                .type_cont{
                    .title_container{
                        height: 4rem;
                        .type_title{
                            font-size: 1.66rem;
                        }
                    }
                    .description_container{
                        .description{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .benefits{
        align-items: center;
        .benefits_description{
            .section_subtitle{
                font-size: 1.66rem;
            }
            .section_text{
                font-size: 1.2rem;
            }
        }
        .benefits_layout{
            grid-template-columns: 1fr 1fr;
            .benefit{
                padding: 1rem;
                flex-direction: column;
                &:nth-child(2), &:nth-child(4){
                    flex-direction: column;
                    .benefit_img{
                        .img{
                            left: calc(50% - 5dvw);
                            right: unset;
                            bottom: -5px;
                        }
                    }
                }
                .benefit_img{
                    height: 15dvw;
                    .benefit_background{
                        width: 100%;
                        left: 0;
                        bottom: -10%;
                    }
                    .img{
                        width: unset;
                        height: 10dvw;
                        aspect-ratio: 1;
                        left: calc(50% - 5dvw);
                        right: unset;
                        bottom: -5px;
                    }
                }
                .benefit_text{
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }

    .contact{
        padding: 2rem 4rem;
        .contact_action{
            .form_container{
                .form{
                    grid-template-columns: 1fr 1fr;
                    .form_label{
                        font-size: 1rem;
                        &:nth-last-child(2), .submit_form{
                            grid-column: 1 / 3;
                        }
                    }
                    .submit_container{
                        grid-column: 1 / 3;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_header, .partners_types, .benefits{
        padding: 3rem 8rem;
    }

    .section_header{
        .section_subtitle{
            font-size: 1.3rem;
        }
    }

    .partners_types{
        margin-top: -3rem;
        .partners_description{
            .section_text{
                font-size: 1.3rem;
            }
        }
        .types{
            .types_layout{
                .type_cont{
                    .description_container{
                        overflow: hidden;
                    }
                }
            }
        }
    }
    
    .benefits{
        .benefits_description{
            .section_text{
                font-size: 1.3rem;
            }
        }
        .benefits_layout{
            .benefit{
                .benefit_text{
                    .benefit_title{
                        font-size: 1.3rem;
                    }
                    .benefit_desc{
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }

    .contact{
        padding: 3rem 8rem;
        .contact_action{
            padding: 0;
            .form_container{
                width: 100%;
                display: flex;
                justify-content: center;
                .form{
                    width: 100%;
                    max-width: 900px;
                    grid-template-columns: repeat(6, 1fr);
                    align-self: center;
                    .form_label{
                        font-size: 1.2rem;
                        &:nth-child(1){
                            grid-column: 1 / 4;
                        }
                        &:nth-child(2){
                            grid-column: 4 / 7;
                        }
                        &:nth-child(3), &:nth-child(6){
                            grid-column: 1 / 3;
                        }
                        &:nth-child(4), &:nth-child(7){
                            grid-column: 3 / 5;
                        }
                        &:nth-child(5), &:nth-child(8){
                            grid-column: 5 / 7;
                        }
                        &:nth-child(9){
                            grid-column: 1 / 4;
                        }
                        &:nth-child(10){
                            grid-column: 4 / 7;
                        }
                        &:nth-last-child(2){
                            grid-column: 1 / 7;
                        }
                    }
                    .submit_container{
                        grid-column: 1 / 7;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .benefits{
        .benefits_layout{
            grid-template-columns: repeat(4, 1fr);
            .benefit{
                padding: 0;
            }
        }
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }