.section_header{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .section_title{
        text-align: center;
        font-size: 2rem;
        font-family: massilia, sans-serif;
        font-weight: 900;   
    }
    .section_subtitle{
        text-align: justify;
    }
}

.partners_types{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .partners_description{
        display: grid;
        gap: 1rem;
        justify-items: center;
        .section_subtitle{
            font-size: 1.5rem;
            font-family: massilia, sans-serif;
            font-weight: 900;       
        }
        .section_text{
            text-align: justify;
        }
    }
    .types{
        .types_layout{
            border: 1px solid #1d1d1b;
            display: grid;
            .type_cont{
                .title_container{
                    height: 3rem;
                    padding: 0 1rem;
                    border: 1px solid #1d1d1b;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #b81626;
                    color: #fff;
                    cursor: pointer;
                    .type_title{
                        font-size: 1.2rem;
                        font-family: massilia, sans-serif;
                        font-weight: 900;
                    }
                    .partner_selector{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        .icon_container{
                            min-height: 100%;
                            display: grid;
                            place-content: center;
                            transition: transform .5s ease;
                            svg{
                                font-size: 1.5rem;
                            }
                        }
                        .bounce_icon{
                            transform: translateY(-100%);
                        }
                    }
                }
                .description_container{
                    max-height: 0;
                    overflow: scroll;
                    transition: max-height .5s ease;
                    .description{
                        padding: 1rem;
                        text-align: justify;                   
                    }
                }
                .open_description_cont{
                    max-height: 200px;
                    border: 1px solid #1d1d1b;

                }
            }
        }
    }
}

.benefits{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #b81626;
    color: #fff;
    .benefits_description{
        display: grid;
        gap: 1rem;
        justify-items: center;
        .section_subtitle{
            font-size: 1.5rem;
            font-family: massilia, sans-serif;
            font-weight: 900;       
        }
        .section_text{
            text-align: justify;
        }
    }
    .benefits_layout{
        display: grid;
        gap: 2rem;
        .benefit{
            display: flex;
            gap: 2rem;
            align-items: center;
            &:nth-child(2), &:nth-child(4){
                flex-direction: row-reverse;
                .benefit_img{
                    .img{
                        left: 20%;
                        right: unset;
                    }
                }
            }
            .benefit_img{
                height: 100px;
                aspect-ratio: 1;
                position: relative;
                .benefit_background{
                    width: 80px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    position: absolute;
                    left: 10%;
                    bottom: 0;
                    background-color: #fff;
                }
                .img{
                    width: 50px;
                    height: 80px;
                    position: absolute;
                    right: 20%;
                    bottom: 15px;
                    background-color: #1d1d1b;
                }
            }
            .benefit_text{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                .benefit_title{
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    text-transform: uppercase;
                }
                .benefit_desc{
                    font-size: .9rem;
                }
            }
        }
    }
}

.contact{
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .contact_img{
        width: 100%;
        min-height: 100%;
        aspect-ratio: 16/10;
        position: absolute;
    }
    .contact_action{
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
        background-color: rgba(255, 255, 255, 0.75);
        .section_subtitle{
            text-align: center;
            font-size: 1.5rem;
            font-family: massilia, sans-serif;
            font-weight: 900;       
        }
    }
}

@media screen and (min-width: 425px) {
    .contact{
        height: 30dvh;
        .contact_action{
            padding: 2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .section_header, .partners_types, .benefits{
        padding: 2rem 4rem;
    }

    .section_header{
        padding-bottom: 0;
        .section_title{
            text-align: unset;
            font-size: 2.6rem;
        }
        .section_subtitle{
            font-size: 1.2rem;
        }
    }

    .partners_types{
        .partners_description{
            justify-items: initial;
            .section_subtitle{
                font-size: 1.66rem;
            }
            .section_text{
                font-size: 1.2rem;
            }
        }
        .types{
            .types_layout{
                .type_cont{
                    .title_container{
                        height: 4rem;
                        .type_title{
                            font-size: 1.66rem;
                        }
                    }
                    .description_container{
                        .description{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .benefits{
        align-items: center;
        .benefits_description{
            .section_subtitle{
                font-size: 1.66rem;
            }
            .section_text{
                font-size: 1.2rem;
            }
        }
        .benefits_layout{
            grid-template-columns: 1fr 1fr;
            .benefit{
                padding: 1rem;
                flex-direction: column;
                &:nth-child(2), &:nth-child(4){
                    flex-direction: column;
                    .benefit_img{
                        .img{
                            left: calc(50% - 5dvw);
                            right: unset;
                            bottom: -5px;
                        }
                    }
                }
                .benefit_img{
                    height: 15dvw;
                    .benefit_background{
                        width: 100%;
                        left: 0;
                        bottom: -10%;
                    }
                    .img{
                        width: unset;
                        height: 10dvw;
                        aspect-ratio: 1;
                        left: calc(50% - 5dvw);
                        right: unset;
                        bottom: -5px;
                    }
                }
                .benefit_text{
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }

    .contact{
        .contact_action{
            padding: 4rem;
            .section_subtitle{
                font-size: 1.66rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_header, .partners_types, .benefits{
        padding: 3rem 8rem;
    }

    .section_header{
        .section_subtitle{
            font-size: 1.3rem;
        }
    }

    .partners_types{
        .partners_description{
            .section_text{
                font-size: 1.3rem;
            }
        }
    }
    
    .benefits{
        .benefits_description{
            .section_text{
                font-size: 1.3rem;
            }
        }
        .benefits_layout{
            .benefit{
                .benefit_text{
                    .benefit_title{
                        font-size: 1.3rem;
                    }
                    .benefit_desc{
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .benefits{
        .benefits_layout{
            grid-template-columns: repeat(4, 1fr);
            .benefit{
                padding: 0;
            }
        }
    }
}