.sectionTitle_cont{
    overflow: hidden;
    .sectionTitle{
        // transform: translateY(150%);
        transition: transform .5s ease;
        font-size: 2rem;
        font-family: massilia, sans-serif;
        font-weight: 900;        
    }
    .sectionTitle_White{
        color: #fff;        
    }
}

@media screen and (min-width: 768px) {
    .sectionTitle_cont{
        .sectionTitle{
            font-size: 2.6rem;
        }
    }
}