.contact_wrapper{
    min-height: calc(100dvh - 5rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(to right, #b81626, #800915, #620912);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
    .section_header{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .section_title{
            text-align: center;
            font-size: 2rem;
            text-align: center;
            font-family: massilia, sans-serif;
            font-weight: 900;
            color: #fff;
        }
    }
    
    .form_wrapper{
      width: 100%;
      .form_slide{
        background-color: #fff;
        .form_container{
          min-width: 100%;
          padding: 1rem;
          transition: transform .5s ease;
          .form{
            display: grid;
            gap: 1rem;
            .form_label{
              display: flex;
              flex-direction: column-reverse;
              gap: .2rem;
              font-size: .8rem;
              color: #b81626;
              .form_input{
                height: 2rem;
                border: none;
                border-bottom: 1px solid #b81626;
                transition: border-bottom .25s ease;
                font-size: 1rem;
                background-color: transparent;
                &:focus{
                    outline: none;
                    border-bottom: 1px solid #1d1d1b ;
                }
              }
              .form_textarea{
                height: 25dvh;
                padding: .5rem;
                border: 1px solid #b81626;
                font-size: 1.25rem;
                background-color: transparent;
                resize: none;
                &:focus{
                    outline: none;
                }
              }
            }
            .submit_form{
              height: 2rem;
              width: 5rem;
              margin-top: 1rem;
              padding: 0 .5rem;
              border: none;
              justify-self: center;
              text-transform: uppercase;
              font-weight: 800;
              transition: background-color .25s ease, color .25s ease;
              background-color: #b81626;
              color: rgb(226, 230, 235);
              cursor: pointer;
              &:hover{
                  background-color: #1b1d1d;
                  color: #fff;
              }
            }
          }
        }
        .move_slide{
          transform: translateX(-100%);
        }
      }
    }
}

@media screen and (min-width: 768px) {
  .contact_wrapper{
    padding: 2rem 4rem;
    .form_wrapper .form_slide .form_container{
      padding: 2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contact_wrapper{
    padding: 3rem 8rem;
    .form_wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      .form_slide{
        width: 100%;
        max-width: 800px;
        .form_container{
          padding: 2rem;
          align-self: center;
          .form{
            .form_label{
              font-size: 1rem;
            }
            .submit_form{
              height: 3rem;
              width: 6rem;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }