.contact_wrapper{
    min-height: calc(100dvh - 5rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .section_header{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .section_title{
            text-align: center;
            font-size: 2rem;
            text-align: center;
            font-family: massilia, sans-serif;
            font-weight: 900;   
        }
    }
    .form_wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .form_menu{
          width: 100%;
          display: flex;
          border: 1px solid #b81626;
          .form_selection{
              width: 100%;
              height: 3rem;
              display: grid;
              place-content: center;
              transition: background .5s ease;
              cursor: pointer;
              p{
                font-size: 1rem;
                text-align: center;
                font-family: massilia, sans-serif;
                font-weight: 900;
                text-transform: uppercase;
                color: #b81626;
              }
          }
          .selected_form{
            background: linear-gradient(to right, #b81626, #800915, #620912);
            background-size: 200% 200%;
            animation: gradientAnimation 5s linear infinite;
            p{
              color: #fff;
            }
          }
      }
      .form_slide{
        height: 55dvh;
        display: flex;
        background: linear-gradient(to right, #b81626, #800915, #620912);
        background-size: 200% 200%;
        animation: gradientAnimation 5s linear infinite;
        overflow: hidden;
        .form_container{
          min-width: 100%;
          padding: 1rem;
          transition: transform .5s ease;
          overflow: scroll;
          .form{
            display: grid;
            gap: 1rem;
            .form_label{
              display: flex;
              flex-direction: column-reverse;
              gap: .2rem;
              font-size: .8rem;
              color: #fff;
              .form_input{
                height: 2rem;
                border: none;
                border-bottom: 1px solid #fff;
                transition: border-bottom .25s ease;
                font-size: 1rem;
                background-color: transparent;
                color: #fff;
                &:focus{
                    outline: none;
                    border-bottom: 1px solid #1d1d1b ;
                }
              }
              .form_textarea{
                height: 25dvh;
                padding: .5rem;
                border: 1px solid #fff;
                font-size: 1.25rem;
                background-color: transparent;
                color: #fff;
                resize: none;
                &:focus{
                    outline: none;
                }
              }
            }
            .submit_form{
              height: 2rem;
              width: 5rem;
              margin-top: 1rem;
              padding: 0 .5rem;
              border: none;
              justify-self: center;
              text-transform: uppercase;
              font-weight: 800;
              transition: background-color .25s ease, color .25s ease;
              background-color: rgb(226, 230, 235);
              color: #b81626;
              cursor: pointer;
              &:hover{
                  background-color: #1b1d1d;
                  color: #fff;
              }
            }
          }
        }
        .move_slide{
          transform: translateX(-100%);
        }
      }
  }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }